<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistentes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/eventStyles.css') }}">

</head>
<body>
    <div class="container">
        <h1>Asistentes del Evento</h1>
        <ul>
            {% for attendee in attendees %}
                <li>{{ attendee[0] }}</li>
            {% endfor %}
        </ul>
        <a href="/events" class="btn">Volver</a>
    </div>
</body>
</html>




