<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/registro.css') }}">

</head>
<body>
    <div class="container">
        <h1>Registrarse</h1>
        <form method="POST">
            <input type="text" name="name" placeholder="Nombre" required>
            <input type="email" name="email" placeholder="Correo Electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <select name="role">
                <option value="attendee">Asistente</option>
                <option value="organizer">Organizador</option>
            </select>
            <button type="submit" class="btn">Registrarse</button>
        </form>
        <a href="/" class="btn">Volver</a>
    </div>
</body>
</html>



